:root {
	--font-primary: #fff;
	--font-secondary: #a0a0a0;
	--cursor-color: 225,225,225;
	--scrollbar-track-bg: #101010;
	--scrollbar-thumb-bg: #333;
	--icon-fill: white;
	--swap-speed: 0.2s;
	--toggle-theme-color: #ffc107;
	--map-bg: 48,48,48;
	--menu-bg: rgba(48,48,48,0);
	--menu-bg-scrolled: rgba(48,48,48,0.8);
	--link-color: #3291ff;
	--demo-color: black;
	--demo-bg: white;
	--shadow-color: black;
	--title-shadow-color: black;
	--card-bg: rgba(48,48,48,0.5);
}

@font-face {
	font-family: "Iosevka";
	src 		: url(../fonts/iosevka-regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src 		: url(../fonts/inter.ttf);
	font-display: swap;
}

@font-face {
	font-family: "FiraCode";
	src 		: url(../fonts/firacode.ttf);
	font-display: swap;
}
	
* {
    font-family: Inter;
    color: var(--font-primary);
	transition: color var(--swap-speed) ease-in-out, background-color var(--swap-speed) ease-in-out, fill var(--swap-speed) ease-in-out, stroke var(--swap-speed) ease-in-out;
}


body, html {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    height: 100%;
    width: 100%;
}

body {
	background: black;
}

::-webkit-scrollbar {
	width: 8px;
    background: var(--scrollbar-track-bg);
}
 ::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: var(--scrollbar-thumb-bg);
}

::selection {
    background-color: var(--scrollbar-thumb-bg);
    color: var(--font-primary);
}

.default-dragged {
	backdrop-filter: invert(1);
	background-color: rgba(var(--cursor-color), 0.2) !important; 
}

.toggle-dragged {
	border: 0.25rem solid rgba(var(--cursor-color), 1);
	background-color: rgba(var(--cursor-color), 0) !important;
}

.link-dragged {
	border-bottom: 0.15rem solid rgba(var(--cursor-color), 1);
	background-color: rgba(var(--cursor-color), 0) !important;
	border-radius: 0.1rem !important;
	box-shadow: none !important;
}

.button-dragged {
	opacity: 0 !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*--------------------------*/

.intro {
	position: fixed;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 6.25rem;
	position: fixed;
	background-color: var(--menu-bg);
	padding: .75rem 2rem .75rem 2rem;
	box-sizing: border-box;
	transition: height 0.01s ease-in-out;
}

.menu .icon {
	margin-right: auto;
	box-sizing: border-box;
	padding: .75rem 2rem .75rem 2rem;
}

.menu .icon svg {
	height: 100%;
	transform: translate 0.135s ease;
	fill: var(--icon-fill);
}

.menu .icon svg path {
	fill: var(--icon-fill);
	transition: fill 0.05s ease-in-out !important;
}

.menu .map {
	display: flex;
	flex-direction: row;
	margin: 0.25rem 0 0.25rem 0;
	padding: 0.25rem 0.3rem .25rem 0.3rem;
	border-radius: 0.5rem;
	background-color: rgba(var(--map-bg),0.7);
}

.menu .map .map-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: .25rem 0rem .25rem 0rem;
	gap: 0.5rem;
	justify-content: center;
	font-size: 0.9rem;
}

.map-item a {
	position:relative;
	padding: 0 1rem 0.2rem 1rem;
	width: 100%;
	color: var(--font-secondary);
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}

.map-item-active {
	color: var(--font-primary) !important;
}

.menu .map .map-item::after {
	position: relative;
	content: "";
	width: 70%;
	height: 0.125rem;
	border-radius: 0.15rem;
}

.menu .map .current a {
	font-weight: 600;
	color: var(--font-primary) !important;
}

.menu .map .current::after {
	background-color: var(--font-primary);
}

.menu-options {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.toggle-theme {
	display: flex;
	align-items: center;
	border-radius: 100%;
}

.toggle-theme svg, .menu-download svg {
	width: 1.25rem;
	height: 1.25rem;
	padding: 0.9rem;
	border-radius: 0.5rem;
}

.menu-download svg path, .menu-download svg polyline {
	fill: transparent;
}

.toggle-lang {
	font-size: 1.25rem;
	padding: 0.9rem;
	border-radius: 0.5rem;
}

.toggle-theme svg {
	fill: var(--toggle-theme-color);
	stroke: var(--toggle-theme-color);
}

.main {
	padding-top: 6.5rem;
}

.header-video {
	position: absolute;
	top:0;
	left:0;
	z-index:-1;
	width: 100%;
	overflow-x: hidden;
}

.header-video video {
	width: 100%;
}

.join-discord {
	background-color: rgba(var(--map-bg),0.8);
	font-size: 0.9rem;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	margin: 0.5rem 1.5rem 0.5rem 1.5rem;
	border-radius: 0.25rem;
}

.join-discord .link-active {
	font-size: 0.95rem;
}

a {
	text-decoration: none;
}

.join-discord a {
	color: var(--link-color);
	padding: 0 0.25rem 0.1rem 0.25rem;
	transition: font-size 0.1s ease;
}


.frame {
	height: 100vh;
	width: 100%;
	padding: 0 2rem 0 2rem;
	box-sizing: border-box;
}

.introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6rem;
	background: linear-gradient( 0deg, var(--shadow-color) 0%, transparent 100% );
}

.introduction .title {
	font-size: calc(2rem + 2vw);
	font-weight: 900;
	text-shadow: 0 0 1rem var(--title-shadow-color);
}

.introduction .buttons {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.introduction .demo-button {
	color: var(--demo-color);
	background-color: var(--demo-bg);
}

.introduction .download-button {
	color: white;
	background-color: #0070f3;
}

.introduction .demo-button, .introduction .download-button {
	padding: 0.5rem 2rem 0.5rem 2rem;
	border-radius: 0.25rem;
	font-size: 0.9rem;
	transition: transform 0.15s ease;
}

.info {
	background: var(--shadow-color);
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
	width: 100%;
	padding: 3rem 2rem 3rem 2rem;
	box-sizing: border-box;
}

.discord-list, .github-list {
	margin: 0 calc(2rem + 3vw) calc(2rem + 2vh) calc(2rem + 3vw);	
	maxwudth: 50vw;
}

.discord-list {
	display: flex;
	align-self: center;
	cursor: default;
}

.github-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5vw;
	padding: 2rem;
	background-color: var(--card-bg);
	border-radius: 0.25rem;
}

.github-list .container {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.github-list .main-title {
	font-size: calc(0.75rem + 2vw);
	line-height: calc(1.5rem + 1vh + 1vw);
	text-align: center;
	font-weight: 900;
}

.repo-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.1rem;
	margin: calc(1rem + 1vh);
	padding: calc(1rem + 1vh);
	background-color: var(--card-bg);
	border-radius: 0.25rem;
}

.repo-info .title {
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
}

.repo-info .content {
	text-align: center;
}

.github-list hr {
	width: 90%;
	border-radius: 0.25rem;
	background-color: var(--font-primary);
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}
