:root {
	--font-primary: #fff;
	--font-secondary: #a0a0a0;
	--scrollbar-track-bg: #101010;
	--scrollbar-thumb-bg: #333;
	--icon-fill: white;
	--swap-speed: 0.2s;
	--toggle-theme-color: #ffc107;
	--map-bg: 48,48,48;
	--menu-bg: rgba(48,48,48,0);
	--menu-bg-scrolled: rgba(48,48,48,0.8);
	--link-color: #3291ff;
	--shadow-color: black;
	--title-shadow-color: black;
	--card-bg: rgba(48,48,48,0.5);
	--card-black: black;
	--card-shadow: rgba(0,0,0,0.1);
	--footer-bg: rgba(48,48,48,1); 
	--lines-color: #5E5E5E;
	--mobile-panel-speed: 0.3s;
	--footer-card-bg: #444444;
	--start-color: #9a9a9a;
	--finish-color: #fbfbfb;
}

@font-face {
	font-family: "Inter";
	src 		: url(../fonts/inter.ttf);
	font-display: swap;
}

* {
    font-family: Inter, sans-serif;
    color: var(--font-primary);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
	background: var(--shadow-color);
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 8px;
    background: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: var(--scrollbar-thumb-bg);
}

::selection {
    background-color: var(--footer-bg);
    color: var(--font-primary);
}

.default-dragged {
	backdrop-filter: invert(1);
	background-color: rgba(var(--cursor-color), 0.2) !important; 
}

.toggle-dragged {
	border: 0.25rem solid rgba(var(--cursor-color), 1);
	background-color: rgba(var(--cursor-color), 0) !important;
}

.link-dragged {
	border-bottom: 0.15rem solid var(--font-primary);
	background-color: rgba(var(--cursor-color), 0) !important;
	border-radius: 0.1rem !important;
	box-shadow: none !important;
}

.button-dragged {
	opacity: 0 !important;
	display: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*--------------------------*/

/* 
 * +-------------------+
 * | :: H E A D E R :: |
 * +-------------------+
 */

.menu .map, .menu, .menu .map .map-item, .menu-options, .toggle-theme {
	display: flex;
}

.menu {
	flex-direction: row;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 6.25rem;
	background-color: var(--menu-bg);
	padding: .75rem 2rem .75rem 2rem;
	transition: height 0.01s ease-in-out, background-color var(--swap-speed) ease-in-out;
}

.menu .mobile-menu {
	display: none;
	flex-direction: column;
	gap: 0.6rem;
	padding: 1rem;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 1rem;
	transition: transform var(--mobile-panel-speed) ease-in-out;
	background-color: rgba(var(--map-bg), 0.7);
	box-shadow: var(--card-shadow) 0px 4px 12px;
}

.menu .mobile-menu .menu-line {
	width: 100%;
	height: 100%;
	border-radius: 3rem;
	background-color: var(--lines-color);
}

.menu, .menu .icon, .menu .mobile-menu, .map-item a {
	box-sizing: border-box;
}

.menu .icon {
	padding: .75rem 2rem .75rem 2rem;
}

.menu .icon svg {
	height: 100%;
	transition: transform 0.135s ease;
}

.menu .icon svg path {
	transition: fill 0.05s ease-in-out !important;
}

.menu .icon linearGradient stop {
	stop-opacity: 1;
}

.menu .icon linearGradient stop:nth-child(1) {
	stop-color: var(--start-color);
}

.menu .icon linearGradient stop:nth-child(2) {
	stop-color: var(--finish-color);;
}

.menu .icon svg path {
	fill: url(#grad1);
}

.menu .icon, .menu .mobile-menu {
	margin-right: auto;
}

.menu .map {
	flex-direction: row;
	margin: 0.25rem 0 0.25rem 0;
	padding: 0.25rem 0.3rem .25rem 0.3rem;
	border-radius: 0.5rem;
	background-color: rgba(var(--map-bg),0.7);
	transition: background-color var(--swap-speed) ease-in-out, transform var(--mobile-panel-speed) ease-in-out;
}

.menu .map .map-item {
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	font-size: calc(0.65rem + 0.3vw);
	padding: .25rem 0rem .25rem 0rem;
}

.map-item a {
	position: relative;
	width: 100%;
	color: var(--font-secondary);
	text-rendering: geometricPrecision;
	padding: 0 1rem 0.2rem 1rem;
}

.map-item-active {
	color: var(--font-primary) !important;
}

.menu .map .map-item::after {
	position: relative;
	content: "";
	width: 70%;
	height: 0.125rem;
	border-radius: 0.15rem;
}

.menu .map .current a {
	font-weight: 600;
	color: var(--font-primary) !important;
}

.menu .map .current::after {
	background-color: var(--font-primary);
}

.menu-options {
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.toggle-theme {
	align-items: center;
	border-radius: 100%;
}

.toggle-theme svg, .menu-download svg {
	width: 1.25rem;
	height: 1.25rem;
	padding: 0.9rem;
	border-radius: 0.5rem;
}

.menu-download svg path, .menu-download svg polyline {
	fill: transparent;
}

.toggle-lang {
	font-size: calc(1rem + 2wh);
	padding: 0.9rem;
	border-radius: 0.5rem;
}

.toggle-theme svg {
	fill: var(--toggle-theme-color);
	stroke: var(--toggle-theme-color);
}

/* 
 * +---------------+
 * | :: M A I N :: |
 * +---------------+
 */

.main {
	padding-top: 6.5rem;
}

/* 
 * +-------------------+
 * | :: F O O T E R :: |
 * +-------------------+
 */

footer {
	width: 100%;
	background-color: var(--footer-bg);
	transition: background-color var(--swap-speed) ease-in-out;
}

.footer-links, .footer-left, .footer-right {
	display: grid;
}

.footer-center, .overview, .external-links, .footer-icon, .legal, .extra-info, .footer-content {
	display: flex;
}

.footer-links {
	grid-template-columns: minmax(100px, 1fr) minmax(50px, 0.1fr) minmax(100px, 1fr);
}

.footer-left, .footer-right {
	margin: 1.5vw 0.5vw 1.5vw 0.5vw;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.footer-center {
	justify-content: center;
	margin: calc(0.5rem + 2vh) 0 calc(0.5rem + 2vh) 0;
}

.overview, .external-links, .footer-icon, .legal, .extra-info, .footer-content {
	flex-direction: column;
}

.overview, .external-links, .footer-icon, .legal, .extra-info {
	gap: 0.5rem;
}

.footer-icon {
	justify-content: center;
	align-items: center;
}

.footer-icon linearGradient stop {
	stop-opacity: 1;
}

.footer-icon linearGradient stop:nth-child(1) {
	stop-color: var(--start-color);
}

.footer-icon linearGradient stop:nth-child(2) {
	stop-color: var(--finish-color);;
}

.footer-icon svg path {
	fill: url(#grad2);
}

.footer-icon, .footer-icon a {
	width: 100%;
}

.footer-title {
	font-weight: 900;
	font-size: calc(0.75rem + 0.3vw);
	transition: color var(--swap-speed) ease-in-out;
}

.footer-text {
	transition: color var(--swap-speed) ease-in-out;
}

.footer-text span {
	color: var(--font-secondary);
}

.footer-text::before {
    content: "- ";
    color: var(--font-secondary);
}

.footer-text:hover span, .footer-text:hover::before {
   color: var(--font-primary) !important;
}

footer p {
	text-align: center;
	font-size: calc(0.65rem + 0.3vw);
	padding-bottom: calc(0.1rem + 1vh);
	transition: color var(--swap-speed) ease-in-out;
}

footer p a {
   font-weight: 900;
}

.footer-content {
	gap: 0.5rem;
}

.footer-card {
	background-color: var(--footer-card-bg);
	box-shadow: var(--card-shadow) 0px 4px 12px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	margin: 0.5rem;
	border-radius: 1rem;
	text-align: center;
	box-sizing: border-box;
	transition: background-color var(--swap-speed) ease-in-out, color var(--swap-speed) ease-in-out;
}

/* 
 * +-----------------+
 * | :: M E D I A :: |
 * +-----------------+
 */

/* default iPad screens */
@media screen and (device-width: 768px) {

}

/* For portrait layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

}

/* For landscape layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

}

@media only screen and (max-width: 768px) {
	.menu {
		background-color: transparent !important;
	}

	.map-icon {
		margin: 1.25rem 10% 1.25rem 10%;
		width: 80%;
	}

	.map-icon path {
		fill: var(--icon-fill);
	}

	.map {
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column !important;
		gap: 0.9rem;
		border-radius: 0 0 2rem 0 !important;
		margin: initial !important;
		background-color: rgba(var(--map-bg),1) !important;
		box-shadow: var(--card-shadow) 0px 4px 12px;
		transform: translateX(-100%);
	}

	.current::after {
		background-color: transparent !important;
	}

	.demo-button, .menu .icon {
		display: none !important;
	}

	.mobile-menu {
		display: flex !important;
	}
	
	.map .map-item:last-child {
		display: none !important;
	}

	.join-discord {
		text-align: center;
	}

	.join-discord a::before {
		content: "";
		display: block;
	}

	.footer-icon {
		display: none;
	}
	
	.footer-links {
		padding: 0 7vw 0 7vw !important;
		grid-template-columns: 1fr !important;
	}

	.footer-center {
		justify-content: initial !important;
	}
}

/* Discord */

.join-discord {
	background-color: rgba(var(--map-bg),0.8);
	font-size: calc(0.65rem + 0.3vw);
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	margin: 0.5rem 1.5rem 0.5rem 1.5rem;
	border-radius: 0.25rem;
	transition: background-color var(--swap-speed) ease-in-out, color var(--swap-speed) ease-in-out;
}

.join-discord .link-active {
	font-size: calc(0.7rem + 0.3vw);
}

a {
	text-decoration: none;
}

.join-discord a {
	color: var(--link-color);
	padding: 0 0.25rem 0.1rem 0.25rem;
	transition: font-size 0.1s ease, color var(--swap-speed) ease-in-out;
}

p a, strong, .footer-card span {
	transition: color var(--swap-speed) ease-in-out;
}
